In [1]:
# 1.

import numpy as np
import pandas as pd

df = pd.read_csv('./data/ratings.csv')

print(df['rating'].mean())

3.501556983616962

In [2]:
# 2.

import numpy as np
import pandas as pd

df = pd.read_csv('./data/ratings.csv')

grouped = df.groupby(['userId']).mean()
display(grouped['rating'])

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

In [3]:
# 3.

import numpy as np
import pandas as pd

df1 = pd.read_csv('./data/ratings.csv')
df2 = pd.read_csv('./data/movies.csv')


df3 = df1.groupby(['movieId']).mean()

df = pd.merge(left = df2 , right = df3, how = "inner", on = "movieId")

df4 =df.loc[:, ['movieId', 'title', 'rating']] 

display(df4)

      movieId                                      title    rating
0           1                           Toy Story (1995)  3.920930
1           2                             Jumanji (1995)  3.431818
2           3                    Grumpier Old Men (1995)  3.259615
3           4                   Waiting to Exhale (1995)  2.357143
4           5         Father of the Bride Part II (1995)  3.071429
...       ...                                        ...       ...
9719   193581  Black Butler: Book of the Atlantic (2017)  4.000000
9720   193583               No Game No Life: Zero (2017)  3.500000
9721   193585                               Flint (2017)  3.500000
9722   193587        Bungo Stray Dogs: Dead Apple (2018)  3.500000
9723   193609        Andrew Dice Clay: Dice Rules (1991)  4.000000

[9724 rows x 3 columns]

In [4]:
# 4.

df5 = df4[df4['rating'] == 5.0].sort_values('title', ascending = True)

display(df5)

      movieId                             title  rating
5677    27751               'Salem's Lot (2004)     5.0
7315    77846               12 Angry Men (1997)     5.0
9028   141816                  12 Chairs (1976)     5.0
3888     5468  20 Million Miles to Earth (1957)     5.0
5626    27373                        61* (2001)     5.0
...       ...                               ...     ...
9693   187717  Won't You Be My Neighbor? (2018)     5.0
8337   108795               Wonder Woman (2009)     5.0
9271   158398             World of Glory (1991)     5.0
9542   173351       Wow! A Talking Fish! (1983)     5.0
7504    84273  Zeitgeist: Moving Forward (2011)     5.0

[296 rows x 3 columns]

In [5]:
# 5

df6 = df[df['genres'].str.contains('Comedy')]
# df6.sort_values('rating')

df7 = df6[df6['rating'] == 0.5].sort_values('title', ascending = True)
display(df7)

,movieId,title,genres,userId,rating,timestamp
8875,134528,Aloha (2015),Comedy|Drama|Romance,298.0,0.5,1.458650e+09
5763,31422,Are We There Yet? (2005),Children|Comedy,307.0,0.5,1.186085e+09
7744,91414,Arthur Christmas (2011),Animation|Children|Comedy|Drama,517.0,0.5,1.487956e+09
9401,165645,Bad Santa 2 (2016),Comedy,111.0,0.5,1.516156e+09
4433,6557,Born to Be Wild (1995),Adventure|Children|Comedy|Drama,599.0,0.5,1.498503e+09
5398,25782,Boudu Saved From Drowning (Boudu sauvé des eau...,Comedy,567.0,0.5,1.525290e+09
6537,54934,"Brothers Solomon, The (2007)",Comedy,298.0,0.5,1.467490e+09
5440,26095,"Carabineers, The (Carabiniers, Les) (1963)",Comedy|Drama|War,358.0,0.5,1.339546e+09
6528,54768,Daddy Day Camp (2007),Children|Comedy,219.0,0.5,1.194932e+09
4872,7312,"Follow Me, Boys! (1966)",Comedy|Drama,88.0,0.5,1.331421e+09
7536,85334,Hard Ticket to Hawaii (1987),Action|Comedy,358.0,0.5,1.339546e+09
8399,110773,"Haunted House 2, A (2014)",Comedy|Horror,111.0,0.5,1.516156e+09
5649,27595,Jesus Christ Vampire Hunter (2001),Action|Comedy|Horror|Musical,599.0,0.5,1.519176e+09
8966,138798,Joe Dirt 2: Beautiful Loser (2015),Comedy,298.0,0.5,1.450453e+09
7802,92681,Journey 2: The Mysterious Island (2012),Action|Adventure|Comedy|Sci-Fi|IMAX,567.0,0.5,1.525290e+09
6143,44243,Leprechaun 4: In Space (1997),Comedy|Fantasy|Horror|Sci-Fi,599.0,0.5,1.498503e+09
8230,104644,Maria Bamford: The Special Special Special! (2...,Comedy,111.0,0.5,1.517441e+09
7184,72696,Old Dogs (2009),Comedy,382.0,0.5,1.515163e+09
9038,141994,Saving Christmas (2014),Children|Comedy,514.0,0.5,1.536381e+09
5248,8632,Secret Society (2002),Comedy,483.0,0.5,1.178294e+09
9572,175475,The Emoji Movie (2017),Animation|Children|Comedy,184.0,0.5,1.537110e+09
8890,135216,The Star Wars Holiday Special (1978),Adventure|Children|Comedy|Sci-Fi,514.0,0.5,1.536381e+09
8658,122246,Tooth Fairy 2 (2012),Children|Comedy,567.0,0.5,1.525290e+09
5781,31692,Uncle Nino (2003),Comedy,221.0,0.5,1.121365e+09
6767,60363,Zombie Strippers! (2008),Comedy|Horror,68.0,0.5,1.240093e+09

In [6]:
# 6

# import datetime as dt

# a = len(df8['timestamp'])

# # df['timestamp'] = df['timestamp'].astype('str')

# # df['timestamp'].dtype

# # df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

# df8 = df[df['genres'].str.contains('Romance')]


# for i in range(a):
#     for step in df8['timestamp']:
#         step = int(round(step))
#     df8['timestamp'][i] = step
    
# df8

# # a = int(df8['timestamp'].values[0].round())

# b = pd.to_datetime(a, unit='s')

# str(b)
# print(type(str(b)))

# df9 = df8[df8['timestamp'].str.contains(2015)]

# df9

In [15]:
# 7

df10 = df.groupby(['genres']).mean()
df11 = df10[df10['rating'] == 5.0].sort_index()

display(df11.loc[:, ['rating']])

                                       rating
genres
Action|Comedy|Drama|Romance               5.0
Action|Crime|Drama|Sci-Fi                 5.0
Action|Horror|Mystery|Sci-Fi              5.0
Adventure|Comedy|Fantasy|Musical          5.0
Adventure|Drama|Fantasy|Horror|Sci-Fi     5.0
Adventure|Romance|Sci-Fi                  5.0
Animation|Children|Mystery                5.0
Animation|Crime|Drama                     5.0
Animation|Drama|Fantasy|Mystery           5.0
Animation|Drama|Sci-Fi|IMAX               5.0
Comedy|Crime|Drama|Horror                 5.0
Comedy|Crime|Fantasy                      5.0
Comedy|Drama|Fantasy|Mystery|Romance      5.0
Comedy|Horror|Mystery                     5.0
Drama|Fantasy|Musical|Mystery|Sci-Fi      5.0
Drama|Horror|Romance                      5.0
Fantasy|Mystery|Western                   5.0